body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top:15px;
    padding-left: 15px;
    padding-right: 15px;

}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.paper-body {
    border: 1px solid rgba(128, 128, 128, 0.1);
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.8);
}

.banner {
    position:relative;
}
.banner-over {
    position:absolute;
    bottom:0;
    left:0;
    background-color: rgba(224,224, 224,0.9);
    padding:15px;
    width:100%;
}
.banner-text {
    color: white;

}

.sec-head-text {
    padding: 10px 0;
}


.h-box {
    height: 280px;
    width: 100%;
    overflow-x:scroll;
    border: 1px solid rgba(128, 128, 128, 0.1);
    margin: 0;
    padding:0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.h-container {
    width: 230%;
    height: 250px;
    padding-bottom: 30px;
}
.h-block {
    display: inline-block;
    width: 7.5%;
    margin: 5px 30px;
}

.move-to-center {
    width: 300px;
    margin: 0 auto;
}
/* 
.card.item:hover {
    transition: all 0.5s ease;
    position: absolute;
    top:0;
    left: 0;
    width: 160%;
    height: auto;
    z-index: 100;
} */