<div class="profile-parent">
    <img class="cover-page profile-parent" src="~/images/002.jpg" alt="">
    <div class="profile-child"> 
        <img class="profile-box" src="~/images/002.jpg" alt="">
    </div>
    <div class="product-child">
        <a class="btn btn-default" asp-controller="Shop" asp-action="Index">Products</a>
        <a class="btn btn-default" asp-controller="Shop" asp-action="About">About</a> 
    </div>
</div>