
<h3 class="sec-head-text bg-success">Looking for good!</h3>
<hr />
<form asp-action="Search" asp-controller="home" method="GET">
    <div class="form-inline">
        <input class="form-control w-75" id="search" name="keyword" type="search" value="@ViewData["keyword"]" placeholder="Search" />
        <input class="btn btn-group-vertical" type="submit" value="GO" />
    </div>
    <label class="form-control-label">Category:</label>
    <select class="form-control" id="category" name="category">
        <option value="all">All</option>
        <option value="shirt">Shirt</option>
        <option value="shoes">shoes</option>
        <option value="cap">Cap</option>
        <option value="bag">Bag</option>
    </select>

    <label class="form-control-label">Price Range:</label>
    <select class="form-control" id="price" name="price">
        <option value="all">All</option>
        <option value="lower">Lower</option>
        <option value="1">$10-$50</option>
        <option value="2">$50-$100</option>
        <option value="higher">Higher</option>
    </select>
</form>

<hr />
<div>
    <a data-toggle="collapse" href="#category_collapse">Categories &gt;&gt;</a>
    <div class="collapse show" id="category_collapse">
        <ul class=" list-unstyled list-group-flush">
            <li class="list-group-item"><a class="btn-link" href="#">Shirt</a></li>
            <li class="list-group-item"><a class="btn-link" href="#">Shoes</a></li>
            <li class="list-group-item"><a class="btn-link" href="#">Bags</a></li>
            <li class="list-group-item"><a class="btn-link" href="#">Caps</a></li>
            <li class="list-group-item"><a class="btn-link" href="#">Trouser</a></li>
        </ul>
    </div>
</div>