<nav aria-label="breadcrumb">
    <ul class="breadcrumb nav-menu bg-light">
        <li class="breadcrumb-item"><a asp-controller="product" asp-action="index">Product List</a></li>
        <li class="breadcrumb-item"><a asp-controller="product" asp-action="create">New</a></li>
    </ul>
</nav>